.hero-section {
  height: 400px;
  width: 100%;
  background-image: url("/storage/app/public/background/sam1.jpeg");
  background-repeat: repeat;
  background-size: cover;
  background-position: left center;
  border: none;
  box-shadow: 0 8px 16px rgba(50, 54, 58, 1);
  padding: 0;
  margin: 0;
  animation: moveBg 10s linear infinite;
}

/* Keyframes for left-to-right background movement */
@keyframes moveBg {
  0% {
    background-position: left center;
  }
  100% {
    background-position: right center;
  }
}
